.App-Content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    margin-top: -30px;
}
header{
    margin-top: 70px;
    text-align: center;
    color: rgb(132, 65, 13);
}
footer{
    margin-top: 100px;
    text-align: center;
}